<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style5-3.css">

    <style>
        /* Ensure the form is centered with appropriate margins */
        #Member {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /* Adjust the width of the form to be more compact */
        #Member .col-md-6 {
            max-width: 500px;
            /* Adjust this value as needed */
            margin: auto;
        }

        /* Styling for the submit and reset buttons */
        #Member .btn {
            width: 150px;
            margin: 10px;
        }

        #Member h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        #Sign {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <!-- Custom JavaScript for Form Validation -->
    <script>
        // Use this script to trigger an alert if there's an error message
        window.onload = function() {
            // Pass the error message as a plain string to JavaScript
            var message = "<%= typeof message !== 'undefined' ? message : '' %>";
    
            // Trigger the alert if there is an error message
            if (message) {
                alert(message);
            }
        };
    </script>
    
    <script src="login.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark text-white sticky-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand text-white" aria-current="page" href="/home">
                    <img src="Logo.png" height="30" width="30" alt="Figure Zone Logo">
                </a>
                <a>
                    <span class="search" data-bs-toggle="collapse" href="#collapseEx" role="button" aria-expanded="false"
                    aria-controls="collapseEx">Search
                        <img src="icons8-magnifying-glass-50.png" alt="magnifying glass symbol" width="20" height="20">
                    </span>
                    <span>Cart
                        <img src="New Arrivals/shopping bag.png" alt="shopping bag symbol" width="20" height="20">
                    </span>
                    <span>
                        <a id="user" class="nav-link text-white" href="/login" role="button">
                            Login
                            <img src="New Arrivals/user.png" alt="user symbol" width="20" height="20">
                        </a>
                    </span>
                    
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/about">About Us</a>
                        </li>
                        <li class="nav-item dropdown d-flex">
                            <a class="nav-link nav-link-product text-white" href="/product" role="button">
                                Product
                                <a class="nav-link nav-link-drop dropdown-toggle text-white" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/figure">Figure</a></li>
                                    <li><a class="dropdown-item" href="/tcg">Trading Card Game</a></li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/social">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/help">Help & Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="collapse" id="collapseEx">
            <div class="fd">
                <div class="find">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    <input class="search-input" type="search" placeholder="Search">
                </div>
            </div>
        </div>
    </header>
    <main>
        <form id="createAccForm" onsubmit="return createAcc()" action="/create" method="post">
            <section class="container" id="Member">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h1 class="text-center"><strong>Create Account</strong></h1>
                        <form class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="inputUser" class="col-form-label">User</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="inputUser" name="user" required>
                                </div>
                                <span class="col-sm-4 col-form-label" id="userName"></span>
                            </div>
                            <div class="mb-3">
                                <label for="inputEmail" class="col-form-label">Email</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="inputEmail" name="email" required>
                                </div>
                                <span class="col-sm-4 col-form-label" id="Email"></span>
                            </div>
                            <div class="mb-3">
                                <label for="inputPass" class="col-form-label">Password</label>
                                <div class="col-md-12">
                                    <input type="password" class="form-control" id="inputPass" name="password" size="30" required>
                                </div>
                                <span class="col-sm-4 col-form-label" id="Password"></span>
                            </div>

                            <!-- Input type Submit, reset-->
                            <div class="col-md-12" id="Sign">
                                <input class="btn btn-dark my-3 me-2" type="submit" onclick="checkAccValidation()" value="Create Account">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </form>
    </main>

    <footer class="bg-dark text-white pt-4">
        <div class="container text-md-left">
            <div class="row text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">Figure Zone</h5>
                    <p>
                        <a href="about.html" class="text-white" style="text-decoration: none;"> About Us</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">Follow Us</h5>
                    <div class="text-left text-md-left">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/DeakinUniversity/"
                                    class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.deakin.edu.au/" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/user/deakinuniversity"
                                    class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                        class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">Products</h5>
                    <p>
                        <a href="figure.html" class="text-white" style="text-decoration: none;"> Figure</a>
                    </p>
                    <p>
                        <a href="tcg.html" class="text-white" style="text-decoration: none;"> Trading Card Game</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">Useful links</h5>
                    <p>
                        <a href="help.html" class="text-white" style="text-decoration: none;"> Help & Support</a>
                    </p>
                    <p>
                        <a href="social.html" class="text-white" style="text-decoration: none;"> News</a>
                    </p>
                    <p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i> 211 Burwood Highway, Burwood, VIC 3125, Australia
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> s224883218@deakin.edu.au
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 03 9244 6333
                    </p>
                    <p>
                        <i class="fas fa-business-time"></i> 9:00-17:00
                    </p>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p> Copyright ©2024 <strong class="text-white">Figure Zone</strong> - #1 Bring To You The Best
                        Japansese Goods.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>