<footer class="bg-dark text-white pt-4">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Figure Zone</h5>
                <p>
                    <a href="about.ejs" class="text-white" style="text-decoration: none;"> About Us</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Follow Us</h5>
                <div class="text-left text-md-left">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/DeakinUniversity/"
                                class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.deakin.edu.au/" class="btn-floating btn-sm text-white"
                                style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/user/deakinuniversity"
                                class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Products</h5>
                <p>
                    <a href="figure.ejs" class="text-white" style="text-decoration: none;"> Figure</a>
                </p>
                <p>
                    <a href="tcg.ejs" class="text-white" style="text-decoration: none;"> Trading Card Game</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Useful links</h5>
                <p>
                    <a href="help.ejs" class="text-white" style="text-decoration: none;"> Help & Support</a>
                </p>
                <p>
                    <a href="social.ejs" class="text-white" style="text-decoration: none;"> News</a>
                </p>
                <p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h5>
                <p>
                    <i class="fas fa-home mr-3"></i> 211 Burwood Highway, Burwood, VIC 3125, Australia
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> s224883218@deakin.edu.au
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> 03 9244 6333
                </p>
                <p>
                    <i class="fas fa-business-time"></i> 9:00-17:00
                </p>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p> Copyright ©2024 <strong class="text-white">Figure Zone</strong> - #1 Bring To You The Best
                    Japansese Goods.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>